.Service {
  padding-top: 50px;
  padding-bottom: 20px;
  .service-details-wrapper {
    h1 {
      font-weight: 700;
      font-size: 40px;
      color: $black-color;
      line-height: 50px;
      padding-right: 70px;
      span {
        color: $primary-color;
      }
    }
    p {
      font-size: 18px;
      color: $text-color;
      line-height: 30px;
      padding-right: 90px;
      padding-top: 10px;
    }
    button {
      margin-top: 15px;
      background-color: $primary-color;
      border: none;
      outline: none;
      padding: 15px 32px;
      color: $white-color;
      border-radius: 8px;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
